
.form{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}

.items-form{
    border: 6px solid rgb(210, 210, 210);
    padding: 32px 48px 0px 48px; 
    display: flex;
    align-items: center; 
    flex-direction: column;
    box-shadow: 0px 0px 59px 25px rgba(87,103,170,0.2);

}
.items-form .email,
.items-form .password,
.items-form .name,
.items-form .role{
    display: flex;
    align-items: baseline;
}
.items-form .role{
    margin-bottom: 20px;
}
.items-form .email .icon-user,
.items-form .password .icon-lock,
.items-form .name .icon-name{
    margin-right: 5%;
}

.items-form .role .icon-role{
    margin-right: 18%;
}

.items-form input{
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-weight: 400;
        transition: 0.3s ease;
        
}

.items-form input:focus {
    border: 1px solid #4285F4;
    color: rgba(#000, 0.8);
  }

  .items-form .role select{
	display: inline-block;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	font-size: 14px;
	color: #000;
    font-weight: 600;
	border:2px solid rgba(0,0,0,0.6);
    border-radius: 12px;
    transition: all 0.25s ease;
}
 
.items-form .role select option{
	/* background: #8BD7D2; */
    font-weight: 600;
    color: #000;
}

.form .items-form .btn-login {
    align-items: center;
    background-clip: padding-box;
    background-color: #3083DC;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 2% 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .form .items-form .btn-login :hover,
  .form .items-form .btn-login :focus {
    background-color: #3083DC;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .form .items-form .btn-login:hover {
    transform: translateY(-3px);
  }
  
  .form .items-form .btn-login:active {
    background-color: #3083DC;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .form .items-form .btn-clickHere{
    margin-top: 7px;
    padding-bottom: 12%;
  }

  .form .items-form .btn-signup{
    text-decoration: none;
    padding: 12px 23px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #b3b3b3;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .form .items-form .btn-signup:hover {
    color: #e8e8e8;
    background-color: #212121;;
   }
   